version: '3.1'
services:
  flask:
    build:
      context: ./login
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - "./login:/projects"
    tty: true
    environment:
      TZ: Asia/Tokyo
    command: python /projects/app.py

  db:
    image: mysql:5.7
    ports: 
      - "3306:3306"
    volumes: 
      # 初期データを投入するSQLが格納されているdir
      - ./db/mysql_init:/docker-entrypoint-initdb.d
      # 永続化するときにマウントするdir
      - ./db/mysql_data:/var/lib/mysql
      - ./db/my.cnf:/etc/mysql/conf.d/my.cnf
    environment:
      MYSQL_ROOT_PASSWORD: ecc
      MYSQL_USER: test
      MYSQL_PASSWORD: test
      MYSQL_DATABASE: test
      TZ: 'Asia/Tokyo'      
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci


